<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img alt="angular"
         src="assets/images/angular-white-transparent.svg"
         class="header-logo">
    <span>
      Virtual Scroll for Angular Material Table
    </span>
    <span class="spacer"></span>
    <a mat-button
       href="https://github.com/diprokon/ng-table-virtual-scroll">
      <img alt="github"
           src="assets/images/github-circle-white-transparent.svg"
           class="header-logo">
      <span>GitHub</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
