@use '@angular/material' as mat;
@import 'helpers';
:host {
  @include mat.elevation(2);
}

.header-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

mat-toolbar-row {
  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 598px) {
  [mat-button] span {
    display: none;
  }
}
