@import '~@angular/material/theming';
$mat-app-primary: mat-palette($mat-indigo);
$mat-app-accent: mat-palette($mat-amber);

$mat-app-theme: mat-light-theme($mat-app-primary, $mat-app-accent);

@function mat-theme-color($type: primary, $hue: default) {
  $color: map-get($mat-app-theme, $type);
  @return mat-color($color, $hue);
}

@mixin code() {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px;
  font-family: 'Roboto Mono',monospace;
}
