@use '@angular/material' as mat;
@import '@angular/material/theming';
$mat-app-primary: mat.define-palette(mat.$indigo-palette);
$mat-app-accent: mat.define-palette(mat.$amber-palette);

$mat-app-theme: mat.define-light-theme($mat-app-primary, $mat-app-accent);

@function mat-theme-color($type: primary, $hue: default) {
  $color: map-get($mat-app-theme, $type);
  @return mat.get-color-from-palette($color, $hue);
}

@mixin code() {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px;
  font-family: 'Roboto Mono',monospace;
}
