:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrapper {
  position: relative;
  height: 100%;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  overflow: auto;
  padding: 20px 290px 50px 260px;

  @media (max-width: 1200px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (max-width: 800px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  > nav {
    margin-bottom: 30px;
  }
}
