@use '@angular/material' as mat;
@import 'helpers';

$foreground: map-get($mat-app-theme, foreground);

:host {
  display: block;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), 0.2);
}

.header {
  color: mat.get-color-from-palette($foreground, secondary-text);
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 16px;
  font-size: 16px;
  font-weight: 400;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.code {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }

  mat-expansion-panel {
    background: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  pre  {
    background: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.01);
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
    margin: 0;
    min-height: 60px;
  }
}

.content {
  padding: 30px;
}

.button-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  color: mat.get-color-from-palette($foreground, secondary-text);
}
